.queue-pnl {
  background-color: grey;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-auto-flow: column;
  height: 8rem;
  width: 100%;
  gap: 1rem;
  padding: 0 1rem 1rem 1rem;
  box-sizing: border-box;
  border-radius: 5px;
}

.queue-item {
  height: 3rem;
  width: 100%;
  font-size: 0.75rem;
  color: white;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 0.25rem 0.5rem;
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
}

.queue-item-fld {
  transition: transform 0.2s ease-in-out;
}

.selectable:hover .queue-item-fld {
  transform: scale(1.05) translate(0.3rem, 0rem);
}
